<p>
  Emits an object containing the current value, and the time that has passed between emitting the current value and the
  previous value, which is calculated by using the provided <span class="code">scheduler</span>'s <span class="code">now()</span>
  method to retrieve the current time at
  each emission, then calculating the difference. The <span class="code">scheduler</span> defaults to asyncScheduler, so
  by default, the <span class="code">interval</span>
  will be in milliseconds.
</p>
