<div class="main-container">
  <mat-form-field class="search-input">
    <mat-label>Filter</mat-label>
    <input #searchInput type="text" matInput (input)="applyFilter(searchInput.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-selection-list class="section-list" [multiple]="false" [hideSingleSelectionIndicator]="true"
                      (selectionChange)="navigateTo($event)">
    <ng-container *ngFor="let section of sections">
      <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: section}"></ng-container>
    </ng-container>
    <ng-template #sectionTemplate let-section>
      <div [class]="'section section-' + section.level"
           [ngClass]="{'collapsing': section.collapsing, 'expanding': section.expanding, 'collapsed': section.collapsed}">
        <div class="section-label">
          <button mat-button (click)="toggleSectionCollapsed(section)">
            <mat-icon [fontSet]="'material-symbols-rounded'">chevron_right</mat-icon>
          </button>
          <span>{{ section.label }}</span>
        </div>
        <div class="section-children-container"
             [style.height]="getSectionHeight(section, sectionChildren.clientHeight)">
          <div #sectionChildren class="section-children">
            <ng-container *ngFor="let subSection of section.sections">
              <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: subSection}"></ng-container>
            </ng-container>
            <ng-container *ngFor="let page of section.pages">
              <mat-list-option [value]="page.routeUrl" [selected]="isPageSelected(page) | async">
                <div class="page-option">
                  <span [class.deprecated]="page.deprecated">{{ page.title }}</span>
                  <mat-icon *ngIf="page.starred" [fontSet]="'material-symbols-rounded'" class="star-icon">star</mat-icon>
                </div>
              </mat-list-option>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-selection-list>
</div>

