@import "../../theme";
@import "../ui/responsive/responsive";

::ng-deep {
  html {
    overflow: hidden;
  }
}

:host {
  display: grid;
  border: $player-component-border;
  border-radius: $player-component-border-radius;
  overflow: auto;

  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: auto 1fr;

  .controller {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-bottom: $player-component-border;
  }

  .editor {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    overflow: hidden;
    border-right: $player-component-border;

    @media only screen and (min-width: $screen-width-breakpoint-editor-min-width) {
      min-width: 500px;
    }
  }

  .viewer-container, .error-panel {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: auto;
  }

  .error-panel {
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  @media only screen and (max-width: $screen-width-breakpoint-player-mode) {

    .controller {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .editor, .viewer-container, .error-panel {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.error-panel-content {
  padding: 1em;
}
