<div class="left-panel">
  <app-player-controller [engine]="engine" class="controller"
                            (switchEngine)="switchEngine()"></app-player-controller>
  <app-player-editor class="editor" [(code)]="engine.code" (codeChange)="codeChange.next($event)"
                        [disableMouseWheel]="disableMouseWheel"
                        [updateLayoutLightMode]="updateLayoutLightMode"
                        (ctrlEnter)="engine.replay()"
                        (ctrlSpace)="engine.playing ? engine.pause() : engine.play()"
                        (ctrlK)="engine.stop()"></app-player-editor>
</div>
<div class="right-panel">
  <div [hidden]="engine.error">
    <app-player-viewer [engine]="engine"></app-player-viewer>
  </div>
  <app-alert-message type="danger" *ngIf="engine.error as err" class="error-panel">
    <div class="error-panel-content">
      <h2>{{ err.label }}</h2>
      <span>{{ err.name }}: {{ err.message }}</span>
      <pre *ngIf="err.stack">{{ err.stack }}</pre>
    </div>
  </app-alert-message>
</div>
