<app-alert-message type="warning">
  <b>Deprecation Notes:</b> Will be removed in v9 or v10. Use <a [routerLink]="['/operators/retry']">retry</a>'s delay
  option
  instead. Instead of <span class="code">retryWhen(() => notify$)</span>, use: <span class="code">retry(&#123; delay: () => notify$ &#125;)</span>.
</app-alert-message>
<p>
  Returns an Observable that mirrors the source Observable with the exception of an <span class="code">error</span>. If
  the source Observable
  calls <span class="code">error</span>, this method will emit the Throwable that caused the error to the <span
  class="code">ObservableInput</span> returned from notifier.
  If that Observable calls <span class="code">complete</span> or <span class="code">error</span> then this method will
  call <span class="code">complete</span> or <span class="code">error</span> on the child subscription.
  Otherwise this method will resubscribe to the source Observable.
</p>
