@use "../../../../node_modules/@angular/material/index" as mat;
@import "../../../theme";

:host {
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
  background-image: $player-component-background;
  border: $player-component-border;
  border-radius: $player-component-border-radius;
  display: flex;
  margin: 1em;
  overflow: hidden;

  & > * {
    height: 100%;

    &:not(:first-child) {
      border-left: $player-component-border;
    }
  }
}

button {
  background: none;
  border: none;
  color: mat.get-theme-color($theme, primary, default);
  flex-grow: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  &:hover {
    color: mat.get-theme-color($theme, primary, darken);
    background-image: $player-component-background-active;
  }
}

.slider {
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 0 1em;
  justify-content: end;
  color: $player-component-color;

  &.grow-1 {
    flex-grow: 1;
  }
}
