<div class="main-container">
  <mat-form-field class="search-input">
    <mat-label>Filter</mat-label>
    <input type="text" matInput>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <mat-selection-list class="menu-list" [multiple]="false" [hideSingleSelectionIndicator]="true"
                      (selectionChange)="navigateTo($event)">
    <div class="menu">RxJS Operators</div>
    <div class="sub-menu">Combination</div>
    <mat-list-option value="/combine-all" [selected]="currentUrl === '/combine-all'">combineAll</mat-list-option>
    <mat-list-option value="/combine-latest" [selected]="currentUrl === '/combine-latest'">combineLatest
    </mat-list-option>
    <div class="sub-menu">Conditional</div>
    <mat-list-option>defaultIfEmpty</mat-list-option>
    <mat-list-option>iif</mat-list-option>
  </mat-selection-list>
</div>
