:host {
  overflow: auto;
  border-right: 1px solid lightgray;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.section-list {
  overflow: auto;
  padding: 1em;

  .section-0 {
    margin-bottom: 1em;
    font-weight: 400;
    font-size: 1.2em;
    white-space: nowrap;
  }

  .section-1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: 500;
    white-space: nowrap;
  }
}


