<div class="page-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1 class="content-header">
          <span>{{ page.title }}</span>
          <a mat-button *ngIf="page.documentationUrl" [attr.href]="page.documentationUrl" target="_blank"
             matTooltip="Official Documentation">
            <mat-icon [fontSet]="'material-symbols-rounded'">developer_guide</mat-icon>
          </a>
          <span *ngIf="page.deprecated" class="deprecated-tag">Deprecated</span>
        </h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngComponentOutlet="page.detailsComponent"/>
    </mat-card-content>
  </mat-card>
  <app-vizual-rx-player *ngIf="engine" class="player" [engine]="engine"></app-vizual-rx-player>
</div>
