<button matRipple (click)="remote.replay()" matTooltip="Replay">
  <mat-icon>refresh</mat-icon>
</button>
<button *ngIf="remote.playing$ | async" (click)="remote.pause()" matTooltip="Pause">
  <mat-icon>pause</mat-icon>
</button>
<button matRipple *ngIf="!(remote.playing$ | async)" (click)="remote.play()" matTooltip="Play">
  <mat-icon>play_arrow</mat-icon>
</button>
<button matRipple (click)="remote.stop()" matTooltip="Stop" [disabled]="remote.stopped$ | async">
  <mat-icon>stop</mat-icon>
</button>
<div class="grow-1"></div>
<button *ngIf="!isWebWorkerDisabled" matRipple (click)="switchRemote.next()" [matTooltip]="switchRemoteTooltip"
        [disabled]="!isWebWorkerSupported">
  <mat-icon>{{ isWebWorkerRemote ? 'layers' : 'layers_clear' }}</mat-icon>
</button>
<div class="slider">
  <label>Time Speed</label>
  <mat-slider min="0" max="2" step="0.1" [showTickMarks]="true" [discrete]="true">
    <input matSliderThumb [(ngModel)]="remote.timeFactor" [matTooltip]="remote.timeFactor.toString()">
  </mat-slider>
</div>
<div class="slider">
  <label>Time Scale</label>
  <mat-slider min="0.5" max="2" step="0.1" [showTickMarks]="true">
    <input matSliderThumb [(ngModel)]="timeScale" [matTooltip]="timeScale.toString()">
  </mat-slider>
</div>
