@use "@angular/material" as mat;
@import "../../../theme";

.track-label {
  background-color: mat.get-theme-color($theme, accent, 700);
  border: 2px solid mat.get-theme-color($theme, accent, 900);
}

svg {
  background-color: mat.get-theme-color($theme, accent, 50);
  border: 2px solid mat.get-theme-color($theme, accent, 200);
  border-left: none;
  height: 40px;
}
