<div class="left-panel">
  <app-vizual-rx-controller class="controller"></app-vizual-rx-controller>
  <div class="content">
    <h1 class="content-header">
        <span>
          {{ page.title }}
        </span>
      <a mat-button *ngIf="page.documentationUrl" [attr.href]="page.documentationUrl" target="_blank"
         matTooltip="Official Documentation">
        <mat-icon [fontSet]="'material-symbols-rounded'">book_5</mat-icon>
      </a>
    </h1>
    <ng-container *ngComponentOutlet="page.detailsComponent"/>
  </div>
  <app-vizual-rx-editor class="editor" [(code)]="engine.code" (codeChange)="onCodeChange($event)"></app-vizual-rx-editor>
</div>
<div class="right-panel">
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  <div [hidden]="loading || engine.error">
    <app-vizual-rx-player></app-vizual-rx-player>
  </div>
  <div *ngIf="engine.error as err" class="error-panel">
    <h2>{{ err.name }}</h2>
    <span>{{ err.name }}: {{ err.message }}</span>
    <pre *ngIf="err.stack">{{ err.stack }}</pre>
  </div>
</div>
