@import "./ui/responsive/responsive";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-drawer-inner-container, .mat-drawer-content {
      overflow: hidden;
    }
  }
}

.navbar {
  flex: 0;
  display: flex;
  gap: 10px;
  padding: 0.5em;

  a.navbar-logo {
    color: white;
  }

  .beta-label {
    font-size: 12px;

    &:before {
      content: ' ';
    }
  }

  .github-link {
    margin-left: auto;
    margin-right: 0.5em;

    img {
      width: 28px;
      vertical-align: middle;
    }
  }

  @media only screen and (max-height: $screen-height-breakpoint-small-navbar) {
    height: 45px;
  }
}

.loading-bar {
  flex-shrink: 0;
}

.initialize-spinner-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav {
  box-shadow: 0 0 10px 0 #bdbdbd;
}

.main {
  flex-grow: 1;
  overflow: hidden;

  .outer-page-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .inner-page-container {
    flex-grow: 1;
    overflow: auto;
    padding: 2em;

    @media only screen and (max-width: $screen-width-breakpoint-sidenav-mode) {
      padding: 0.2em;
    }
  }
}

::ng-deep {
  html {
    overflow: hidden;
  }
}
