<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button (click)="toggleSidenav()" aria-label="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a [routerLink]="['']" class="navbar-logo">
    <span>VizualRx</span>
    <span class="beta-label">Beta</span>
  </a>
  <a class="github-link" href="https://github.com/gezorodd" matTooltip="GitHub" target="_blank">
    <img src="assets/github-mark-white.svg" alt="github logo"/>
  </a>
</mat-toolbar>
<mat-progress-bar class="loading-bar" mode="indeterminate"
                  [style.visibility]="(loading$ | async) ? 'visible' : 'hidden'"></mat-progress-bar>
<mat-drawer-container #drawerContainer class="main">
  <mat-drawer class="sidenav" mode="side" [opened]="sidenavOpenedState$ | async" (opened)="sidenavOpenedChanged()"
              (closed)="sidenavOpenedChanged()">
    <app-sidenav (layoutChanged)="drawerContainer.updateContentMargins()"></app-sidenav>
  </mat-drawer>
  <div class="outer-page-container">
    <div class="inner-page-container">
      <ng-container *ngIf="(initialized$ | async); else loading">
        <router-outlet></router-outlet>
      </ng-container>
      <ng-template #loading>
        <app-loading-animation></app-loading-animation>
      </ng-template>
    </div>
  </div>
</mat-drawer-container>

