:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    .mat-drawer-inner-container, .mat-drawer-content {
      overflow: hidden;
    }
  }
}

.navbar {
  display: flex;
  gap: 10px;

  .github-link {
    margin-left: auto;

    img {
      width: 32px;
      vertical-align: middle;
    }
  }
}



.sidenav {
  box-shadow: 0 0 10px 0 #bdbdbd;
}

.main {
  flex-grow: 1;
  overflow: hidden;
}

.page {
  flex-grow: 1;
}

::ng-deep {
  html {
    overflow: hidden;
  }
}
