@use "@angular/material" as mat;
@import "../../../theme";

:host {
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;
  display: block;

  &.type-success {
    background-color: mat.get-color-from-palette(mat.$green-palette, 50);
    color: mat.get-color-from-palette(mat.$green-palette, 900);
    border-left: 5px solid mat.get-color-from-palette(mat.$green-palette, 700);
  }

  &.type-info {
    background-color: mat.get-color-from-palette(mat.$blue-palette, 50);
    color: mat.get-color-from-palette(mat.$blue-palette, 900);
    border-left: 5px solid mat.get-color-from-palette(mat.$blue-palette, 700);
  }

  &.type-warning {
    background-color: #fff5dc;
    color: #9b6c13;
    border-left: 5px solid #ffac1c;
  }

  &.type-danger {
    background-color: mat.get-color-from-palette(mat.$red-palette, 50);
    color: darken(mat.get-color-from-palette(mat.$red-palette, 900), 5%);
    border-left: 5px solid mat.get-color-from-palette(mat.$red-palette, 700);
  }
}
