<div class="view-selector">
  <button matRipple matTooltip="Show Editor" aria-label="Show Editor" [class.active]="viewMode === 'editor'"
          (click)="changeViewMode('editor')">
    Editor
  </button>
  <button matRipple matTooltip="Show Diagram" aria-label="Show Diagram" [class.active]="viewMode === 'diagram'"
          (click)="changeViewMode('diagram')">
    Diagram
  </button>
</div>

<button matRipple (click)="replay.emit()" matTooltip="Replay (Ctrl + Enter)" aria-label="Replay">
  <mat-icon>refresh</mat-icon>
</button>
<button *ngIf="engine.playing$ | async" (click)="pause.emit()" matTooltip="Pause (Ctrl + Shift + Space)"
        aria-label="Pause">
  <mat-icon>pause</mat-icon>
</button>
<button matRipple *ngIf="!(engine.playing$ | async)" (click)="play.emit()" matTooltip="Play (Ctrl + Shift + Space)"
        aria-label="Play">
  <mat-icon>play_arrow</mat-icon>
</button>
<button matRipple (click)="stop.emit()" matTooltip="Stop (Ctrl + K)" [disabled]="engine.stopped$ | async"
        aria-label="Stop">
  <mat-icon>stop</mat-icon>
</button>
<div class="grow-1"></div>
<button matRipple (click)="switchEngine.emit()" [matTooltip]="switchEngineTooltip" aria-label="Toggle Scheduler">
  <mat-icon>{{ isVirtualTimeEngine ? 'schedule' : 'history_toggle_off' }}</mat-icon>
</button>
<div class="slider">
  <label>Time Speed
    <mat-slider min="0" [max]="maxTimeFactor" step="0.1" [showTickMarks]="true" [discrete]="true">
      <input matSliderThumb [(ngModel)]="timeFactor" [matTooltip]="engine.timeFactor.toString()">
    </mat-slider>
  </label>
</div>
<div class="slider">
  <label>Time Scale
    <mat-slider min="0.5" max="2" step="0.1" [showTickMarks]="true">
      <input matSliderThumb [(ngModel)]="timeScale" [matTooltip]="timeScale.toString()">
    </mat-slider>
  </label>
</div>
