@use "sass:map";
@import "../../theme";

:host {
  overflow: auto;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  display: flex;

  .input-filter {
    flex-grow: 1;

    &::ng-deep {
      .mat-mdc-text-field-wrapper {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    }
  }

  .menu-button {
    height: 100%;
    background-color: var(--mdc-filled-text-field-container-color);
    border-radius: 0;
    border-bottom: 1px solid var(--mdc-filled-text-field-active-indicator-color);

    &:hover {
      border-color: var(--mdc-filled-text-field-hover-active-indicator-color);
    }

    &::ng-deep > * {
      border-radius: 0;
    }
  };
}

.section-list {
  overflow: auto;
  padding: 1em;

  button.section-label {
    display: flex;
    gap: 0.4em;
    justify-content: start;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    letter-spacing: inherit;
    font-size: inherit;
    font-weight: inherit;

    ::ng-deep {
      .mdc-button__label {
        width: 100%;
        display: flex;
      }
    }

    .mat-icon {
      transition: all 0.2s ease-out;
      font-size: 24px;
      margin: 0;
      height: 1em;
      width: 1em;
    }

    .version {
      color: #878787;
      font-size: 0.8em;
      font-weight: 500;
      border: 2px solid #878787;
      border-radius: 5px;
      padding: 0 0.2em;
      margin-left: auto;
    }
  }

  .section {
    margin-top: 0.2em;
    margin-bottom: 0.2em;

    &.collapsing, &.collapsed {
      .section-children-container {
        opacity: 0;
      }
      & > button.section-label > .mat-icon {
        transform: rotate(-90deg);
      }

      &.expanding {
        .section-children-container {
          opacity: 1;
        }
        & > button.section-label > .mat-icon {
          transform: inherit;
        }
      }
    }
  }

  .section-0 {
    font-weight: 500;
    font-size: 1.2em;
    white-space: nowrap;
  }

  .section-1 {
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    padding-left: 0.5em;
  }

  .section-2 {
    font-weight: 400;
    font-size: 1rem;
    white-space: nowrap;
    padding-left: 1em;
  }

  .section-children-container {
    transition: all 0.2s ease-out;
    overflow: hidden;
    opacity: 1;
  }

  .page-container {
    display: flex;
    flex-direction: column;

    a {
      height: 42px;
      padding-left: 2.8em;
      color: inherit;
      text-decoration: inherit;
      font-weight: inherit;
      display: flex;
      gap: 1em;
      justify-content: space-between;
      align-items: center;

      &.selected {
        color: map.get($primary, "default");
      }

      &:not(.selected) {
        font-weight: 400;
      }

      .star-icon {
        color: #595959;
      }
    }
  }
}

.deprecated {
  text-decoration: line-through;
}
