<div class="main-container">
  <mat-form-field class="search-input">
    <mat-label>Filter</mat-label>
    <input #searchInput type="text" matInput (input)="filterChanged$.next(searchInput.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <div class="section-list">
    <ng-container *ngFor="let section of sections">
      <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: section}"></ng-container>
    </ng-container>
    <ng-template #sectionTemplate let-section>
      <div [hidden]="section.hidden" [class]="'section section-' + section.level"
           [ngClass]="{'collapsing': section.collapsing, 'expanding': section.expanding, 'collapsed': section.collapsed}">
        <div class="section-label">
          <button mat-button (click)="toggleSectionCollapsed(section)">
            <mat-icon [fontSet]="'material-symbols-rounded'">keyboard_arrow_down</mat-icon>
          </button>
          <span>{{ section.label }}</span>
          <span *ngIf="section.version as version" class="version">{{ version }}</span>
        </div>
        <div class="section-children-container" #sectionChildrenContainer [id]="'section-' + section.id + '-children-container'">
          <div class="section-children">
            <ng-container *ngFor="let child of section.children">
              <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: child}"></ng-container>
            </ng-container>
            <div *ngIf="section.pages.length" class="page-container">
              <ng-container *ngFor="let page of section.pages">
                <a #pageLink *ngIf="!page.hidden" [routerLink]="[page.routeUrl]" [class.selected]="(currentPage$ | async) === page">
                  <span [class.deprecated]="page.deprecated">{{ page.title }}</span>
                  <mat-icon *ngIf="page.starred" [fontSet]="'material-symbols-rounded'" class="star-icon">star
                  </mat-icon>
                </a>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

