/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes observer-value-popping {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes observable-completed-popping {
  0% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}

.track-container {
  stroke-linecap: round;

  .scene-container {
    transform: translate(25px, 0);
  }

  line {
    stroke-width: 2px;
  }

  &.time-track {
    transform: translate(0, 25px);

    line, text {
      stroke: var(--vrx-time-track-color);
    }

    .arrow {
      fill: var(--vrx-time-track-color);
    }
  }

  &.observer-track {
    transform: translate(0, 40px);

    line, text {
      stroke: var(--vrx-observer-track-color);

      &.center-line {
        stroke-opacity: 0.2;
        stroke-dasharray: 5 5;
      }

      &.completed-line {
        stroke-width: 3px;
      }
    }

    .observer-value {
      animation-name: observer-value-popping;
      animation-duration: 0.7s;
    }

    .completed-line {
      animation-name: observable-completed-popping;
      animation-duration: 0.2s;
      animation-timing-function: linear;
    }

    .error-icon {
      fill: red;
    }

    circle {
      fill: white;
      stroke-width: 2px;
      stroke: var(--vrx-observer-track-color);
    }
  }
}
