/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@keyframes observer-value-popping {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes observable-completed-popping {
  0% {
    opacity: 0;
    transform: scaleY(2) scaleX(6)
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes observable-error-popping {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.track-container {
  stroke-linecap: round;

  .scene-container {
    transform: translate(50px, 0);

    .start-line {
      stroke-dasharray: 2 3;
    }
  }

  &.time-track {
    transform: translate(0, 30px);

    line {
      stroke: var(--vrx-time-track-color);
    }

    text {
      fill: var(--vrx-time-track-color);
    }

    .second-thick {
      stroke-width: 2px;
    }
  }

  &.observer-track {
    transform: translate(0, 40px);

    line {
      stroke: var(--vrx-observer-track-color);

      &.center-line {
        stroke-opacity: 0.5;
        stroke-dasharray: 5 5;
      }

      &.completed-line {
        stroke-width: 3px;
      }
    }

    text {
      fill: var(--vrx-observer-track-color);
    }

    .observer-value {
      animation-name: observer-value-popping;
      animation-duration: 0.7s;

      text {
        font-weight: 500;
      }

      & > *:not(text) {
        fill: white;
        stroke-width: 2px;
        stroke: var(--vrx-observer-track-color);
      }

      & > .color-red {
        fill: var(--vrx-observer-value-red-color);
      }

      & > .color-green {
        fill: var(--vrx-observer-value-green-color);
      }

      & > .color-blue {
        fill: var(--vrx-observer-value-blue-color);
      }

      & > .color-orange {
        fill: var(--vrx-observer-value-orange-color);
      }

      & > .color-yellow {
        fill: var(--vrx-observer-value-yellow-color);
      }

      & > .color-purple {
        fill: var(--vrx-observer-value-purple-color);
      }

      & > .color-cyan {
        fill: var(--vrx-observer-value-cyan-color);
      }

      & > .color-pink {
        fill: var(--vrx-observer-value-pink-color);
      }

      & > .array-symbol {
        stroke: black;
        stroke-width: 3px;
        fill: none;
      }
    }

    .completed-line {
      animation-name: observable-completed-popping;
      animation-duration: 0.15s;
      animation-timing-function: ease-in;
    }

    .error-icon {
      animation-name: observable-error-popping;
      animation-duration: 0.2s;
      animation-timing-function: ease-in;
    }
  }
}
